* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

.border {
  border: 2px solid black;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.container {
  /* display: none; */
  width: 80%;
  height: 700px;
  margin: 5% auto;
  /* background-color: #4158d0; */
  background-image: url("./clouds.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1rem;
}

.loginContainer {
  width: 80%;
  height: 700px;
  margin: 5% auto;
  /* background-color: #4158d0; */
  background-image: url("./clouds.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* backface-visibility: visible; */
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: none;
}

.mainDesc {
  width: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.option {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
  justify-content: center;
  margin: 20px;
  font-size: 1.5rem;
}
.option ul {
  display: flex;
  font-size: 1.5rem;

  list-style: none;
  flex-direction: row;
  gap: 2rem;
}

.optionElement {
  border: 2px solid white;

  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
}

.createElement {
  /* display: flexbox; */
  display: none;
  /* border: 2px solid white; */
  border-radius: 1rem;
  flex-direction: column;

  padding: 2rem 2rem;

  align-items: center;
  justify-content: center;
}

.createElement form input {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.4rem;
}
.createElement form button {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.4rem;
  color: black;
  padding: 0.5rem 1rem;
}
.createElement form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.loginElement {
  /* display: flex; */
  display: none;
  /* border: 2px solid white; */
  border-radius: 1rem;
  flex-direction: column;
  width: 50%;
  font-size: 1.5rem;
  margin: auto;
  color: black;
  /* margin-top: 10rem; */
  height: 50%;
  align-items: center;
  justify-content: center;
}
.loginElement form input {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.4rem;
}
.loginElement form button {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.4rem;
  color: black;
  padding: 0.5rem 1rem;
}
.loginElement form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.mainInfo {
  text-align: center;
  width: 30rem;
}
.loginCreateContainer {
  width: 50%;
  margin: auto;
  height: 50%;
  /* border: 2px solid white; */
  font-size: 1.5rem;
}

.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  font-size: 2rem;
}

.search {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.5rem;
  gap: 1rem;
}

.search input {
  padding: 0.2rem 0.5rem;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #a1acc140;
  border-radius: 12px;
  border: 1px solid rgba(254, 254, 254);
}

.search input::placeholder {
  color: white;
}

.glassCardEffect {
  margin: 1rem;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #a1acc140;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.logo img {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  object-fit: contain;
}
.top {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: row;
  justify-content: space-between;
}

.elementstoLeft {
  /* display: flex;
    justify-content: right; */
  /* flex-direction: column; */
}
.topRight {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.weatherIcon {
  width: 37%;
  display: block;
  padding: 1rem;
}

.weatherIconLogo img {
  height: 70%;
  /* margin: auto 2rem; */
}

.weatherType {
  /* border: 2px solid black; */
  font-size: 2.2rem;
  text-align: center;
  font-weight: 900;
}

.subRightBox {
}

.tempBig {
  height: 70%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0.38rem;
  font-size: 4rem;
}

.feelsLike {
  padding: 0.4rem;
  font-size: 1.5rem;
}

.feelsLike span {
  margin: auto 14px;
}

.topLeft {
  width: 60%;
}

.time {
  font-size: 4rem;
  display: inline-block;
  height: 40%;
  padding: 0.5rem;
}

.dayDate {
  font-size: 1.5rem;
  height: 20%;
  padding: 0.5rem;
}

.cityCountry {
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 20%;
}

.temp {
  display: flex;
  flex-direction: row;
  height: 20%;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.tempInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  font-size: 1.5rem;
  height: 40%;
  padding: 0.5rem;
}

.top3info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.bottom3info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.tempInfoElement {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
/* .createElement.active {
  display: flex;
}
.loginElement.active {
  display: flexbox;
} */
.active {
  display: flex;
}
.inactive {
  display: none;
}

.mainTitle {
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem 2rem;
}
.mainInfo {
  font-size: 1.5rem;
  /* font-weight: 900; */
  padding: 1rem 2rem;
}
